/*Import the fonts used*/
@import url('https://fonts.googleapis.com/css?family=Courgette|Open+Sans:400,800&display=swap');
/*Basic reset*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Custom properties*/
:root {
  --orange-corail: #ea472c;
  --orange-corail-hover: rgba(234, 71, 44, 0.7);
  --orange-corail-clicked: rgba(103, 37, 26, 1);
  --nude-pastel: #fdc598;
  --vert-canard: #063d3c;
  --vert-canard-transparent: rgba(6, 61, 60, 0.63);
  --vert-canard-transparent-alt: rgba(170, 227, 208, 0.6);
}
/*Global styles*/
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "Secular One";
  font-size: 1.6rem;
  color: white;
  background-color: var(--vert-canard);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

section {
  padding: 5rem 0;
}

/* Reausable styles */
.btn {
  color: var(--nude-pastel);
  font-size: 1.9rem;
  font-family: Arial, Helvetica;
  font-weight: bold;
  border-style: none;
  border-radius: 8pt;
  padding: 1.2rem 2.5rem;
  background-color: var(--orange-corail);
  text-align: center;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.header.active {
    background-color: var(--vert-canard);
}

/*Titles styles*/
.section-head{
  text-align: center;
  margin-bottom: 5rem;
}

.heading{
  display: block;
  font-size: 4rem;
  text-transform: uppercase;
}

.sub-heading{
  font-size: 1.7rem;
  font-family: 'Courgette', 'cursive';
  font-weight: 300;
  color: white;
}

/*header styles*/
.container {
    width: 100%;
    max-width: 120rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.form-btn {
    margin-top: 2.5rem;
    cursor: pointer;
}

/*header styles*/
.header {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--vert-canard);
  z-index: 999;
}

.header.active {
    background-color: var(--vert-canard);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
  max-width: 30%;
}

.hamburger-menu {
  font-size: 2.6rem;
  color: var(--nude-pastel);
  cursor: pointer;
  position: relative;
  z-index: 1500;
}

.hamburger-menu .fa-times {
  display: none;
}

.menu-open .hamburger-menu .fa-times {
  display: block;
}

.menu-open .hamburger-menu .fa-bars {
  display: none;
}

.nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--nude-pastel);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1400;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.menu-open .nav-list {
  opacity: 1;
  transform: scale(1);
}

.nav-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.nav-link {
  display: block;
  color: var(--nude-pastel);
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 1rem;
}

/*Hero section styles*/
.hero{
    width: 100%;
    height: 100vh;
    background: url(./images/hero_background01.svg) center no-repeat;
    border: none;
    background-size: 50%;
    display: flex;
    align-items: right;
    justify-content: relative;
    position: relative;
    z-index: 0;
}

.hero::before{
    content: '';
    position: absolute;
    left: 0;
    width: inherit;
    height: inherit;
    z-index: -1
  }

.main-heading{
    color: var(--nude-pastel);
    line-height: 1;
    margin-bottom: 2.5rem;
    padding-top: 26rem;
  }

.subtitle-heading{
    margin-top: 3%;
    font-size: 2.7rem;
    margin-bottom: 2.5rem;
    display: flex;
}

.scroll{
    height: 10px;
    text-align: center;
    bottom: 5%;
    left: 50%;
    font-size: 4rem;
    color: white;
    transform: rotate(90deg);
    position: absolute;
    font-family: Arial, Helvetica;
    font-weight: bold;
    border-radius: 50%;
    border-width: 3rem;
    border: 2px white;
    cursor: pointer;
}

.scroll:hover{
    border-color: var(--nude-pastel);
    color: var(--nude-pastel);
}







/*Actions section styles*/
.services{
  background: url(./images/hero_background03.svg) center no-repeat;
  border: none;
  background-size: 98%;
  display: flex;
  justify-content: relative;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 0;
}
.offer-content{
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 2.5rem;
  justify-items: center;
  margin-top: 125px;

}

.nettoyer-btn{
width: 317px;
height: 245px;
position: relative;
background-color: rgba(255, 255, 255, 0);
background-image: url("./images/icon__clean.svg");
border: none;
margin-left: 90px;
cursor: pointer;
}

.aménager-btn{
width: 285px;
height: 280px;
position: relative;
background-color: rgba(255, 255, 255, 0);
background-image: url("./images/icon__build.svg");
border: none;
padding-left: center;
cursor: pointer;
}

.entretenir-btn{
width: 342px;
height: 280px;
position: relative;
background-color: rgba(255, 255, 255, 0);
background-image: url("./images/icon__three.svg");
border: none;
margin-right: 46px;
cursor: pointer;
}






/* About section styles */
.about{
    background: url(./images/hero_background02.svg) center no-repeat;
    border: none;
    background-size: 58%;
    display: flex;
    margin-left: 0;
    align-items: right;
    justify-content: relative;
    position: relative;
    z-index: 0;
    text-align: right;
    background-position-x: left;
    height: 100vh;
    width: 100%;
}

.section-head{
    color: var(--nude-pastel);
    line-height: 1;
    font-size: 5.8rem;
    margin-right: 0;
}

.subtitle{
    padding-top: 2.4rem;
    font-size: 2.6rem;
    margin-right: 0;
}




/*contact styles*/
.contact{
    border: none;
    background-size: 58%;
    background-position-x: 20%;
    background-position-y: 80%;
    display: flex;
    justify-content: relative;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 0;
    color: var(--vert-canard);
}

.contact-content{
  display: flex;
}

 .traveler-wrap{
  background: url(./images/hero_background04.svg) center no-repeat;
} 

.contact-form{
    width: 40%;
    background: var(--nude-pastel);
    padding: 2.5rem;
    border-radius: 12px;
  }

  .contact-form .input{
    display: block;
    background-color: transparent;
    color: var(--vert-canard);
    font-weight: normal;
    border-width: 2px;
    border-color: var(--vert-canard);
    border-radius: 4px;
    padding: 0.5rem;
    margin-top: 1.2rem;
    width: 100%;
  }

  .bar{
    display: block;
    position: relative;
  }

  .bar::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: var(--nude-pastel);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
  }

  .contact-form .input:forcus + .bar::after{
    transform: scaleX(1);
  }







/* Footer section styles */
.footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  background: var(--nude-pastel);
  color: #063d3c;
}
.main-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
}

.left-box{
  margin-top: 15;
  margin-left: 50px;
}

.left-box h2{
  margin-left: 100px;
}

.left-center .content{
  margin-top: 30px;
  margin-left: 20px;
}

.brand-wrap{
  align-items: center;
  justify-content: center;
  background-position-x: center;
}

.right-center .content{
  padding: 10px 0 0 0;
  margin-left: 100px;
  margin-right: 100px;
  font-weight: lighter;
  font-size: 15px;
  text-align: center;
  font-family: -apple-system, thin ;
}

.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box .content{
  margin: 20px 0 0 0;
}

.right-box{
  margin-top: 15px;
}

.right-box .content{
  position: auto;
  margin-right: 100px;
}

.right-box .content .social-media{
  display: flex;
}

.right-box .content .social-media a span{
  height: 40px;
  width: 40px;
  background:transparent;
  line-height: 40px;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  border: 2px solid var(--vert-canard);
  align-items: center;
  justify-items: center;
  background-position-y: center;
  background-position-x: center;
  margin-right: 1rem;
  transition: background-color .5;
}

.left .content .social-media:hover{
  background-color: var(--vert-canard);
  color: var(--nude-pastel);
}

.left .content .social-media i{
  margin: auto;
}






/* Cookies Section Style*/
.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #F5F6FA;
  padding: 32px;
  line-height: 32px;
  z-index: 99999;
  transition: 400ms;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a{
  color: var(--purple-light);
}

.cookie-btn{
  background: var(--purple-light);
  border: 0;
  margin: 12px;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}







  /* Media queries */
  @media screen and (min-width: 768px){
    /* Header section styles */
    .header{
      height: 10rem;
    }
    .header.active{
    height: 6rem;
    }
    /* Hero section styles */
    .title{
        font-size: 8rem;
    }
    /* Contact section styles */
    .contact-content{
      justify-content: space-between;
    }
    .traveler-wrap{
      display: block;
      flex: 0 0 45%;
    }
    .traveler-wrap img{
      width: 100%;
    }
    .contact-form{
      flex: 0 0 50%;
    }
    .input-group-wrap{
      display: flex;
    }
    .input-group-wrap .input-group{
      width: 50%;
      margin-right: 2rem;
    }
    .input-group-wrap .input-group:last-child{
      margin-right: 0;
    }
    /* Footer section styles */
    .footer-content{
      display: flex;
      justify-content: space-between;
    }
    .footer-content-brand{
      margin-bottom: 0;
      flex: 0 0 60%;
    }
    .footer .paragraph{
      margin-top: 2.5rem;
    }
    .footer-heading{
      margin-top: 5rem;
    }

    .social-media-wrap{
    flex: 0 0 40%;
    margin-left: 2.5rem;
    }
  }


  @media screen and (min-width: 1000px){
    section:not(.booking){
      padding: 10rem 0;
    }

    /* Header section styles */
    .hamburger-menu{
      display: none;
    }
    .nav-list{
      position: initial;
      width: initial;
      height: initial;
      background-color: transparent;
      flex-direction: row;
      justify-content: initial;
      opacity: 1;
      transform: scaleX(1);
    }
    .nav-item:not(:last-child){
      margin-right: 3rem;
      margin-bottom: 0;
    }
    .nav-link{
      font-size: 1.3rem;
      font-weight: normal;
      transition: color .5s;
    }
    .nav-link:hover{
      color: var(--yellow-solid);
    }
    /* Hero section styles */
    .title{
      font-size: 4rem;
    }
    .sub-title{
      font-size: 1.3rem;
    }

    /* Booking section styles */
    .booking .form{
      display: flex;
      justify-content: space-between;
    }
    .booking .form .input-group{
      margin-bottom: 0;
    }
    .booking .form .input-group:first-child{
      flex: 0 0 20%;
    }
    .input,
    .options{
      min-width: 10rem;
    }
    /* Rooms section styles */
    .rooms-grid{
      grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
      grid-gap: 8rem;
    }
    .featured-rooms{
      flex-direction: row;
      align-items: flex-start;
    }
    .room-info-wrap{
      margin-left: 1.5rem;
    }
  }

  @media screen and (min-width: 1200px){
    .book-form .input-group:first-child{
      flex: 0 0 30%;
    }
}
